/** {
   outline: 1px solid red !important;
}*/


img {
  max-width: 100%;
}

body {
  background-image: url("../vendor/imgs/chalk2.jpg");
  background-position: center;
  background-size: cover;
  font-family: 'Viga', sans-serif;
  padding: 3em;
  position: relative;
  z-index: -2;
}

main {
  height: inherit;
  width: auto;
  margin: 0;
}

footer {
  padding: 1em;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
  opacity: 0.8;
}

ul {
  list-style: none;
}

a { text-decoration: none; color: white; }
.clearfix { clear: both;}
