/*universal page*/

.heading-group-h1 {

display: flex;
justify-content:center;
flex-direction: column;
font-size:2em;
color:white;
padding: 1em;
}

.heading-group-h1 h1, h2 {
text-align: center;
}

.heading-group-h1 h2  {
font-family: 'Courgette', cursive;
font-size: 1em;
}

.main-nav {
  display: flex;
  margin-top: 1vw;
  justify-content: center;
  margin-bottom: 1vw;
  padding: 2em;
}

.main-nav li {
  margin-right: 8vw;
  padding-left: 1em;
  font-size: 1.5em;
}

.main-nav a {
    color: rgb(40,171,227);
    font-size: 1.5em;
    text-shadow: 2em blue;
}

.hrv-push {
display: flex;
justify-content: space-between;;
}


/*home page*/

.main_banner li {
  background-color: blue;
}

.bx-wrapper .bx-loading {
    background-image: ;
    position: relative;

}

.slider li {
      width: auto;
}
.slider img {
  display: flex;
  justify-content: center;
  opacity: 0.9;
  position: absolute;
  z-index: -1;

}

.bx-wrapper {
  margin-top: 2em;

}
.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 2em blue;
    -webkit-box-shadow: 0 0 2em #ccc;
    box-shadow: 0 0 2em #ccc;
    border: 0em solid rgb(247,234,200);
    left: 0em;
    background: rgba(0, 0, 0, 0);
    z-index: -99999;
  }

.bx-wrapper .bx-pager {
    font-size: 1em;
    padding-top: 2em;
}
.mission-statement {
  height: 25em;
  width: 20em;

}

.slider h3, p {
  color: white;
  position: relative;;
  text-align: center;
  padding: 1em;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 2em;
}

.slider h3 {
  font-size: 2.5em;
  font-variant: small-caps;
}
.slider p {
  font-size: 1.5em;
  font-weight: 200;
  font-family: sans-serif;
  }

/*finder page*/
.finder-statement {
  height: 25em;
  width: 20em;
  display: flex;

}
.finder-statement li a{
  color: rgb(232,183,26);
  text-decoration: underline;
  font-size: 1em;
  flex-direction: column;
  justify-content: center;


}
#map {
  height: 50em;
  width: 50em;
}

#finder h2 {
  display: inline-flex;

  height: 2vw;
  width: 3vw;
  background-color: rgb(219,51,64);
}
 #mealtype-filter {
  display: flex;
  height:30px;
  width:150px;
  color:white;
    background-color: rgb(219,51,64);
  font-size:1em;
}
