/*universal page*/

.heading-group-h1 {
background-color: rgba(40,171,227,0.9);
display: flex;
justify-content:center;
flex-direction: column;
font-size:2em;
color:white;
padding: 1em;
}

.heading-group-h1 h1, h2 {
text-align: center;
}

.heading-group-h1 h2  {
font-family: 'Courgette', cursive;
font-size: 1em;
}

.main-nav {
    display: flex;
    background-color: rgba(232,183,26,0.9);
    margin-top: 1vw;
    justify-content: center;
    margin-bottom: 1vw;
    padding: 2em;
}

.main-nav li {
  color: rgb(247,234,200);
  margin-right: 8vw;
  padding-left: 1em;
  font-size: 1.5em;
    }



.hrv-push {
display: flex;
justify-content: space-between;;
}


/*home page*/

.main_banner li {
  background-color: blue;
}

.bx-wrapper .bx-loading {
    background-image: ;
    position: relative;

}

.slider li {
      width: auto;

}

.bx-wrapper .bx-viewport {
    -moz-box-shadow: 0 0 2em blue;
    -webkit-box-shadow: 0 0 2em #ccc;
    box-shadow: 0 0 2em #ccc;
    border: 2em solid rgb(247,234,200);
    left: 0em;
    background: rgba(0, 0, 0, 0);
    z-index: -99999;
  }
.mission-statement {
  height: 25em;
  width: 25em;
  background: url("vendor/imgs/food2.jpeg");
  z-index: 1;
}


@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.tab {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.tab:hover, .tab:focus, .tab:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*finder page*/
#map {
  height: 50em;
  width: 50em;
}

/*@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    height: 3vw;
    background-color: rgba(40,171,227,0.9);
    /*z-index: 1;*/


#finder h2 {
  display: inline-flex;

  height: 2vw;
  width: 3vw;
  background-color: rgb(219,51,64);
}
 #mealtype-filter {
  display: flex;
  height:30px;
  width:150px;
  color:white;
    background-color: rgb(219,51,64);
  font-size:1em;
}
