/*universal page*/

.heading-group-h1 {
  display: block;
}

.heading-group-h1 h1 {
  text-align: center;
}

.logo {
  display: block;
  text-align: center;
  height: auto;
  width: 60%;
  margin-left: 20%;
}

.main-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.main-nav li {

  padding-left: 2em;
  font-size: 3em;
}

.main-nav a {
  color: rgb(40,171,227);
  font-size: 2em;
  padding-left: 2em;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.hrv-push {
  display: flex;
  justify-content: space-between;;
}

/*finder page*/


#finder {
  display: flex;
}

#filter-box {
  display: inline-block;
  position: absolute;
}

#mealtype-filter {
  background-color: rgba(31,218,154, 0.7);
  width: 200%;
}

#map {
  margin-top: 10%;
  margin-left: 1%;
  flex-direction: row;
  height: 300px;
  width: 300px;
}

.output {
  color: white;
  padding: 1%;
  justify-content: center;;
  width: 40%;
  height:40%;
  overflow: auto;
}

/*about page */
#about {
  display: flex;
  flex-direction: column;
}
.about-content p {
  margin: 0;
  display: flex;
}
.about-image {
  width 100%;
  display: flex;
  justify-content: center;
}

.about-contents{
  display:column;
    font-size:1em;

}

.about-container{
  display:inline-block;
  list-style:none;
    color:white;
}

.about-us{
  max-width: 100%;
  border-radius:50%;
  height:40%;
  width:40%;
}

.about-blurb{
  font-size:1em;

}

#resources div p {
  padding: 0;
  margin: 0;
}
#resources-style ul {
  margin: 2%;
  text-align: center;
  color:white;
}


#resources-header {
  font-size: 2em;
  font-weight: bold;
  color:white;
  margin-bottom: 1%;
}

.bold-name {
  text-decoration:underline;
  font-weight:bold;
  font-size: 1.5em;
  color:white;
}

/* hotfixes */
.main-nav li.tab {
  font-size: 14px;
  margin-right: 30px;
}

.main-nav li.tab:last-child {
  margin-right: 0px;
}

.main-nav li a {
  padding-left: 0px;
}


@media only screen and (min-width: 640px) {

  .heading-group-h1 h1 {
    text-align: center;
  }

  #about {
   flex-direction: row;
 }

 #map {
   margin-top: 4%;
   margin-bottom: 1%;
   flex-direction: row;
   height: 800px;
   width: 800px;
  }
}
